In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
folder_path='C:/Users/RSHIRINI/OneDrive - United Nations/Desktop/DSS/DATA COLLECTOR/datacollector_received_quest/recieved_quests'

#check all xlsx files in the folder

xlsx_files = [f for f in os.listdir(folder_path) if f.endswith('.xlsx')]
xlsx_files

['algeria-pop - Population_10_a.xlsx',
 'algeria-pop - Population_10_b.xlsx',
 'algeria-pop - Population_11.xlsx',
 'algeria-pop - Population_12_a.xlsx',
 'algeria-pop - Population_12_b.xlsx',
 'algeria-pop - Population_13_a.xlsx',
 'algeria-pop - Population_13_b.xlsx',
 'algeria-pop - Population_14.xlsx',
 'algeria-pop - Population_15.xlsx',
 'algeria-pop - Population_16.xlsx',
 'algeria-pop - Population_17.xlsx',
 'algeria-pop - Population_18.xlsx',
 'algeria-pop - Population_18_a.xlsx',
 'algeria-pop - Population_18_b.xlsx',
 'algeria-pop - Population_19_a.xlsx',
 'algeria-pop - Population_19_b.xlsx',
 'algeria-pop - Population_1_a.xlsx',
 'algeria-pop - Population_1_b.xlsx',
 'algeria-pop - Population_2.xlsx',
 'algeria-pop - Population_20_a.xlsx',
 'algeria-pop - Population_20_b.xlsx',
 'algeria-pop - Population_21_a.xlsx',
 'algeria-pop - Population_21_b.xlsx',
 'algeria-pop - Population_22.xlsx',
 'algeria-pop - Population_23_a.xlsx',
 'algeria-pop - Population_23_b.xlsx',
 'algeria-pop - Population_3.xlsx',
 'algeria-pop - Population_4.xlsx',
 'algeria-pop - Population_5_a.xlsx',
 'algeria-pop - Population_5_b.xlsx',
 'algeria-pop - Population_6_a.xlsx',
 'algeria-pop - Population_6_b.xlsx',
 'algeria-pop - Population_7_a.xlsx',
 'algeria-pop - Population_7_b.xlsx',
 'algeria-pop - Population_8_a.xlsx',
 'algeria-pop - Population_8_b.xlsx',
 'algeria-pop - Population_9_a.xlsx',
 'algeria-pop - Population_9_b.xlsx',
 'egypt-pop - Population_10_a.xlsx',
 'egypt-pop - Population_10_b.xlsx',
 'egypt-pop - Population_11.xlsx',
 'egypt-pop - Population_12_a.xlsx',
 'egypt-pop - Population_12_b.xlsx',
 'egypt-pop - Population_13_a.xlsx',
 'egypt-pop - Population_13_b.xlsx',
 'egypt-pop - Population_14.xlsx',
 'egypt-pop - Population_15.xlsx',
 'egypt-pop - Population_16.xlsx',
 'egypt-pop - Population_17.xlsx',
 'egypt-pop - Population_18.xlsx',
 'egypt-pop - Population_18_a.xlsx',
 'egypt-pop - Population_18_b.xlsx',
 'egypt-pop - Population_19_a.xlsx',
 'egypt-pop - Population_19_b.xlsx',
 'egypt-pop - Population_1_a.xlsx',
 'egypt-pop - Population_1_b.xlsx',
 'egypt-pop - Population_2.xlsx',
 'egypt-pop - Population_20_a.xlsx',
 'egypt-pop - Population_20_b.xlsx',
 'egypt-pop - Population_21_a.xlsx',
 'egypt-pop - Population_21_b.xlsx',
 'egypt-pop - Population_22.xlsx',
 'egypt-pop - Population_23_a.xlsx',
 'egypt-pop - Population_23_b.xlsx',
 'egypt-pop - Population_3.xlsx',
 'egypt-pop - Population_4.xlsx',
 'egypt-pop - Population_5_a.xlsx',
 'egypt-pop - Population_5_b.xlsx',
 'egypt-pop - Population_6_a.xlsx',
 'egypt-pop - Population_6_b.xlsx',
 'egypt-pop - Population_7_a.xlsx',
 'egypt-pop - Population_7_b.xlsx',
 'egypt-pop - Population_8_a.xlsx',
 'egypt-pop - Population_8_b.xlsx',
 'egypt-pop - Population_9_a.xlsx',
 'egypt-pop - Population_9_b.xlsx']

In [ ]:
#read in all files and combine into a single dataframe
dataframes = []
log_file_path = os.path.join(folder_path, "processing_log.txt")

# Open the log file in write mode
with open(log_file_path, "w", encoding="utf-8") as log_file:
    for file in xlsx_files:
        df_raw = pd.read_excel(os.path.join(folder_path, file), header=None, dtype=str)

        #Find the row nums where col zero has words "index"
        header_rows = df_raw.index[df_raw[0] == 'index'].tolist()

        # Get the value of these rows to be used as headers
        header_1_values = df_raw.iloc[header_rows[0]].dropna()
        header_2_values = df_raw.iloc[header_rows[1]].dropna()


        # for dataframe containing data: slice dataframe 1 (index=1) and set header
        df_data = df_raw[df_raw[0] == '1'].copy()
        # Set the columns using the 1st header we found
        df_data.columns = header_1_values
        #reshape the data dataframe from wide to long
        #id_vars are all colums that are not integers (years)
        id_variables = [col for col in header_1_values if not col.isdigit()]

        df_data=df_data.melt(id_vars=id_variables, var_name='السنة', value_name='العدد')
        df_data.drop(columns=['index'], inplace=True)


        # for the source dataframe
        df_source = df_raw[df_raw[0] == '2'].copy()
        # drop all the empty columns on the right side immediately.
        df_source = df_source[header_2_values.index]
        # Set the columns using the 2nd header we found
        df_source.columns = header_2_values
        df_source.drop(columns=['index'], inplace=True)

        #merge the source with the data left on المؤشر, السنة
        df_merged=pd.merge(df_data, df_source, on=['السنة','المؤشر'], how='left')

        # #append to data list
        dataframes.append(df_merged)

        # Prepare log entry
        log_entry = (
            f"{'='*30}\n"
            f"SUCCESS: {file} finished processing.\n"
            f"Preview of merged data (head 2):\n"
            f"{df_merged.head(2).to_string()}\n"
            f"{'='*30}\n\n"
        )

        # Print to console
        print(log_entry)
        
        # Write to text file
        log_file.write(log_entry)
        
print(f"Logging complete. Summary saved to: {log_file_path}")

# Combine all
final_df = pd.concat(dataframes, ignore_index=True)
final_df.to_excel('final_dataset.xlsx', index=False)

In [9]:
dataframes[1]

,المؤشر,الدولة,الجنس,المواطنة,السنة,العدد,المصدر
0,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,ذكور,مجموع المواطنين وغير المواطنين,2010,NaN,aa
1,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,ذكور,مواطنون,2010,NaN,aa
2,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,ذكور,غير مواطنين,2010,NaN,aa
3,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,إناث,مجموع المواطنين وغير المواطنين,2010,NaN,aa
4,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,إناث,مواطنون,2010,NaN,aa
...,...,...,...,...,...,...,...
130,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,إناث,مواطنون,2024,NaN,gg
131,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,إناث,غير مواطنين,2024,NaN,gg
132,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,كلا الجنسين,مجموع المواطنين وغير المواطنين,2024,NaN,gg
133,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,كلا الجنسين,مواطنون,2024,NaN,gg
134,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,كلا الجنسين,غير مواطنين,2024,NaN,gg

In [ ]:
# #read in all files and combine into a single dataframe
# dataframes = []
# for file in xlsx_files:
#     df = pd.read_excel(os.path.join(folder_path, file))
#     #find the first row that is all empty (NaN)
#     separator_iloc = df[df.isnull().all(axis=1)].index[0]

#     #for data dataframe
#     df_data=df.iloc[1:separator_iloc , :].copy().reset_index(drop=True)
#     #reshape the data dataframe from wide to long
#     #id_vars are all colums that are not integers (years)
#     id_variables = [col for col in df_data.columns if not col.isdigit()]

#     df_data=df_data.melt(id_vars=id_variables, var_name='السنة', value_name='العدد')
#     #convert the 'السنة' column to numeric
#     df_data['السنة'] = df_data['السنة'].astype(int)
    

#     #for the source dataframe
#     # Find the header row for the 'source' table (df2).
#     source_header=df.iloc[separator_iloc + 1, :3].tolist()
#     #read in data
#     df_source=df.iloc[separator_iloc + 2:separator_iloc + 18, :3].copy().reset_index(drop=True)
#     #set the header
#     df_source.columns=source_header
#     df_source['السنة'] = df_source['السنة'].astype(int)
    
#     #merge the source with the data left on المؤشر, السنة
#     df_merged=pd.merge(df_data, df_source, on=['السنة'], how='left')

#     # #append to data list
#     dataframes.append(df_merged)

### do the same by using empty row to divide the two dataframes

In [ ]:
# #read in all files and combine into a single dataframe
# dataframes = []
# for file in xlsx_files:
#     df = pd.read_excel(os.path.join(folder_path, file))
#     #find the first row that is all empty (NaN)
#     separator_iloc = df[df.isnull().all(axis=1)].index[0]

#     #for data dataframe
#     df_data=df.iloc[1:separator_iloc , :].copy().reset_index(drop=True)
#     #reshape the data dataframe from wide to long
#     #id_vars are all colums that are not integers (years)
#     id_variables = [col for col in df_data.columns if not col.isdigit()]

#     df_data=df_data.melt(id_vars=id_variables, var_name='السنة', value_name='العدد')
#     #convert the 'السنة' column to numeric
#     df_data['السنة'] = df_data['السنة'].astype(int)
    

#     #for the source dataframe
#     # Find the header row for the 'source' table (df2).
#     source_header=df.iloc[separator_iloc + 1, :3].tolist()
#     #read in data
#     df_source=df.iloc[separator_iloc + 2:separator_iloc + 18, :3].copy().reset_index(drop=True)
#     #set the header
#     df_source.columns=source_header
#     df_source['السنة'] = df_source['السنة'].astype(int)
    
#     #merge the source with the data left on المؤشر, السنة
#     df_merged=pd.merge(df_data, df_source, on=['السنة'], how='left')

#     # #append to data list
#     dataframes.append(df_merged)