In [1]:
import pandas as pd
import numpy as np
import os

In [36]:
folder_path='C:/Users/511232/Desktop/DSS/DATA COLLECTOR/Codes/Population'

#check all xlsx files in the folder

xlsx_files = [f for f in os.listdir(folder_path) if f.endswith('.xlsx')]
xlsx_files

['tunisia_population - Population_1_a.xlsx',
 'tunisia_population - Population_20_a.xlsx']

In [39]:
#read in all files and combine into a single dataframe
dataframes = []
for file in xlsx_files:
    df_raw = pd.read_excel(os.path.join(folder_path, file), header=None, dtype=str)

    #Find the row nums where col zero has words "index"
    header_rows = df_raw.index[df_raw[0] == 'index'].tolist()

    # Get the value of these rows to be used as headers
    header_1_values = df_raw.iloc[header_rows[0]].dropna()
    header_2_values = df_raw.iloc[header_rows[1]].dropna()


    # for dataframe containing data: slice dataframe 1 (index=1) and set header
    df_data = df_raw[df_raw[0] == '1'].copy()
    # Set the columns using the 1st header we found
    df_data.columns = header_1_values
    #reshape the data dataframe from wide to long
    #id_vars are all colums that are not integers (years)
    id_variables = [col for col in header_1_values if not col.isdigit()]

    df_data=df_data.melt(id_vars=id_variables, var_name='السنة', value_name='العدد')
    df_data.drop(columns=['index'], inplace=True)


    # for the source dataframe
    df_source = df_raw[df_raw[0] == '2'].copy()
    # drop all the empty columns on the right side immediately.
    df_source = df_source[header_2_values.index]
    # Set the columns using the 2nd header we found
    df_source.columns = header_2_values
    df_source.drop(columns=['index'], inplace=True)

    #merge the source with the data left on المؤشر, السنة
    df_merged=pd.merge(df_data, df_source, on=['السنة','المؤشر'], how='left')

    # #append to data list
    dataframes.append(df_merged)

In [41]:
dataframes[1]

,المؤشر,الدولة,الجنس,المواطنة,السنة,العدد,المصدر
0,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,ذكور,مجموع المواطنين وغير المواطنين,2010,NaN,aa
1,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,ذكور,مواطنون,2010,NaN,aa
2,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,ذكور,غير مواطنين,2010,NaN,aa
3,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,إناث,مجموع المواطنين وغير المواطنين,2010,NaN,aa
4,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,إناث,مواطنون,2010,NaN,aa
...,...,...,...,...,...,...,...
130,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,إناث,مواطنون,2024,NaN,gg
131,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,إناث,غير مواطنين,2024,NaN,gg
132,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,كلا الجنسين,مجموع المواطنين وغير المواطنين,2024,NaN,gg
133,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,كلا الجنسين,مواطنون,2024,NaN,gg
134,معدل وفيات الأطفال دون سن الخامسة (لكل 1000 ول...,تونس,كلا الجنسين,غير مواطنين,2024,NaN,gg

In [ ]:
# #read in all files and combine into a single dataframe
# dataframes = []
# for file in xlsx_files:
#     df = pd.read_excel(os.path.join(folder_path, file))
#     #find the first row that is all empty (NaN)
#     separator_iloc = df[df.isnull().all(axis=1)].index[0]

#     #for data dataframe
#     df_data=df.iloc[1:separator_iloc , :].copy().reset_index(drop=True)
#     #reshape the data dataframe from wide to long
#     #id_vars are all colums that are not integers (years)
#     id_variables = [col for col in df_data.columns if not col.isdigit()]

#     df_data=df_data.melt(id_vars=id_variables, var_name='السنة', value_name='العدد')
#     #convert the 'السنة' column to numeric
#     df_data['السنة'] = df_data['السنة'].astype(int)
    

#     #for the source dataframe
#     # Find the header row for the 'source' table (df2).
#     source_header=df.iloc[separator_iloc + 1, :3].tolist()
#     #read in data
#     df_source=df.iloc[separator_iloc + 2:separator_iloc + 18, :3].copy().reset_index(drop=True)
#     #set the header
#     df_source.columns=source_header
#     df_source['السنة'] = df_source['السنة'].astype(int)
    
#     #merge the source with the data left on المؤشر, السنة
#     df_merged=pd.merge(df_data, df_source, on=['السنة'], how='left')

#     # #append to data list
#     dataframes.append(df_merged)

### do the same by using empty row to divide the two dataframes

In [ ]:
# #read in all files and combine into a single dataframe
# dataframes = []
# for file in xlsx_files:
#     df = pd.read_excel(os.path.join(folder_path, file))
#     #find the first row that is all empty (NaN)
#     separator_iloc = df[df.isnull().all(axis=1)].index[0]

#     #for data dataframe
#     df_data=df.iloc[1:separator_iloc , :].copy().reset_index(drop=True)
#     #reshape the data dataframe from wide to long
#     #id_vars are all colums that are not integers (years)
#     id_variables = [col for col in df_data.columns if not col.isdigit()]

#     df_data=df_data.melt(id_vars=id_variables, var_name='السنة', value_name='العدد')
#     #convert the 'السنة' column to numeric
#     df_data['السنة'] = df_data['السنة'].astype(int)
    

#     #for the source dataframe
#     # Find the header row for the 'source' table (df2).
#     source_header=df.iloc[separator_iloc + 1, :3].tolist()
#     #read in data
#     df_source=df.iloc[separator_iloc + 2:separator_iloc + 18, :3].copy().reset_index(drop=True)
#     #set the header
#     df_source.columns=source_header
#     df_source['السنة'] = df_source['السنة'].astype(int)
    
#     #merge the source with the data left on المؤشر, السنة
#     df_merged=pd.merge(df_data, df_source, on=['السنة'], how='left')

#     # #append to data list
#     dataframes.append(df_merged)